@font-face {
  font-family: "Acrom";
  src: url("/fonts/acrom/Acrom-ExtraBold.eot");
  src: local("Acrom ExtraBold"), local("Acrom-ExtraBold"), url("/fonts/acrom/Acrom-ExtraBold.eot?#iefix") format("embedded-opentype"), url("/fonts/acrom/Acrom-ExtraBold.woff") format("woff"), url("/fonts/acrom/Acrom-ExtraBold.ttf") format("truetype");
  font-weight: 800;
  font-style: normal;
}
@font-face {
  font-family: "Acrom";
  src: url("/fonts/acrom/Acrom-ExtraBold.eot");
  src: local("Acrom ExtraBold"), local("Acrom-ExtraBold"), url("/fonts/acrom/Acrom-ExtraBold.eot?#iefix") format("embedded-opentype"), url("/fonts/acrom/Acrom-ExtraBold.woff") format("woff"), url("/fonts/acrom/Acrom-ExtraBold.ttf") format("truetype");
  font-weight: 800;
  font-style: normal;
}
@font-face {
  font-family: "Acrom";
  src: url("/fonts/acrom/Acrom-Bold.eot");
  src: local("Acrom Bold"), local("Acrom-Bold"), url("/fonts/acrom/Acrom-Bold.eot?#iefix") format("embedded-opentype"), url("/fonts/acrom/Acrom-Bold.woff") format("woff"), url("/fonts/acrom/Acrom-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: "Acrom";
  src: url("/fonts/acrom/Acrom-Regular.eot");
  src: local("Acrom Regular"), local("Acrom-Regular"), url("/fonts/acrom/Acrom-Regular.eot?#iefix") format("embedded-opentype"), url("/fonts/acrom/Acrom-Regular.woff") format("woff"), url("/fonts/acrom/Acrom-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
.footer__container, .calculator, .cb-form__container, .team-projects__container, .personal-projects__container, .hero, .about__container, .header__container {
  margin-left: auto;
  margin-right: auto;
  overflow-x: hidden;
}
@media screen and (min-width: 320px) {
  .footer__container, .calculator, .cb-form__container, .team-projects__container, .personal-projects__container, .hero, .about__container, .header__container {
    width: 320px;
    padding-left: 10px;
    padding-right: 10px;
  }
}
@media screen and (min-width: 640px) {
  .footer__container, .calculator, .cb-form__container, .team-projects__container, .personal-projects__container, .hero, .about__container, .header__container {
    width: 640px;
    padding-left: 20px;
    padding-right: 20px;
  }
}
@media screen and (min-width: 1200px) {
  .footer__container, .calculator, .cb-form__container, .team-projects__container, .personal-projects__container, .hero, .about__container, .header__container {
    width: 1200px;
  }
}

/*! normalize.css v8.0.1 | MIT License | github.com/necolas/normalize.css */
html {
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

main {
  display: block;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b, strong {
  font-weight: bolder;
}

code, kbd, samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

img {
  border-style: none;
}

button, input, optgroup, select, textarea {
  font-family: inherit;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button, input {
  overflow: visible;
}

button, select {
  text-transform: none;
}

[type=button], [type=reset], [type=submit], button {
  -webkit-appearance: button;
}

[type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner, button::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

[type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring, button:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox], [type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details {
  display: block;
}

summary {
  display: list-item;
}

template {
  display: none;
}

[hidden] {
  display: none;
}


.hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
  pointer-events: none;
}

.is-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
  pointer-events: none;
}

@media screen and (max-width: 639px) {
  .invisible {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    overflow: hidden;
    position: absolute;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    pointer-events: none;
  }
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

body {
  margin: 0;
  font-family: "Acrom", sans-serif;
  background-color: #141d2d;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

p {
  margin-top: 0px;
  margin-bottom: 0px;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
  border-style: none;
}

a {
  text-decoration: none;
}

.base__title-style {
  font-weight: bold;
  font-size: 35px;
  line-height: 42px;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
}

.header {
  background-color: #141d2d;
  color: #ffffff;
}
@media screen and (min-width: 320px) {
  .header__container {
    padding-top: 30px;
    padding-bottom: 35px;
  }
}
@media screen and (min-width: 640px) {
  .header__container {
    padding-top: 25px;
    padding-bottom: 60px;
  }
}
@media screen and (min-width: 1200px) {
  .header__container {
    padding-top: 40px;
    padding-bottom: 120px;
  }
}
.header__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header__button-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header__btn {
  color: #ff6b08;
  font-weight: 800;
  font-size: 15px;
  line-height: 18px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  margin-right: 22px;
}

.logo {
  display: block;
}

.logo__figere {
  display: block;
  width: 50px;
  height: 50px;
  background-color: #ff6b08;
  border: 2px solid transparent;
  position: relative;
  -webkit-transition: all 0.2s linear;
  transition: all 0.2s linear;
}

.logo__figere:before {
  position: absolute;
  content: "MR";
  font-weight: 600;
  text-transform: uppercase;
  color: #ffffff;
  font-size: 20px;
  top: 15px;
  left: 10px;
  z-index: 10;
  -webkit-transition: all 0.2s linear;
  transition: all 0.2s linear;
}

.logo__figere:after {
  display: block;
  position: absolute;
  content: "";
  width: 50px;
  height: 50px;
  border: 2px solid #ffffff;
  top: 5px;
  left: 5px;
  -webkit-transition: all 0.2s linear;
  transition: all 0.2s linear;
}

.logo__figere:hover,
.logo__figere:focus {
  border: 2px solid #ffffff;
  background-color: transparent;
  -webkit-box-shadow: 0 0 10px rgba(255, 255, 255, 0.5);
          box-shadow: 0 0 10px rgba(255, 255, 255, 0.5);
}

.logo__figere:hover::before,
.logo__figere:focus::before {
  top: 17px;
  left: 10px;
  font-size: 24px;
}

.logo__figere:hover::after,
.logo__figere:focus::after {
  border: 2px solid transparent;
  background-color: #ff6b08;
  -webkit-box-shadow: 0 0 5px rgba(255, 255, 255, 0.5);
          box-shadow: 0 0 5px rgba(255, 255, 255, 0.5);
}

@media screen and (max-width: 1199px) {
  .mobile-menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    position: fixed;
    overflow: auto;
    width: 100%;
    height: 100%;
    top: 0;
    right: -100%;
    background-color: #ffffff;
    padding-top: 50px;
    text-align: center;
    z-index: 98;
    -webkit-transition: all 0.2s linear;
    transition: all 0.2s linear;
  }
  .mobile-menu.modal-active {
    right: 0;
  }
}
@media screen and (min-width: 320px) and (max-width: 639px) {
  .mobile-menu__exit {
    top: 46px;
    right: 19px;
  }
}
@media screen and (min-width: 640px) and (max-width: 1199px) {
  .mobile-menu__exit {
    top: 46px;
    right: 19px;
  }
}
@media screen and (min-width: 1200px) {
  .mobile-menu__exit {
    display: none;
  }
}

.menu {
  color: #ff6b08;
}

@media screen and (min-width: 320px) and (max-width: 639px) {
  .menu-list {
    margin-bottom: 60px;
  }
}
@media screen and (min-width: 640px) and (max-width: 1199px) {
  .menu-list {
    margin-bottom: 120px;
  }
}
@media screen and (min-width: 1200px) {
  .menu-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media screen and (min-width: 320px) and (max-width: 639px) {
  .menu-list__item:not(:last-child) {
    margin-bottom: 35px;
  }
}
@media screen and (min-width: 640px) and (max-width: 1199px) {
  .menu-list__item:not(:last-child) {
    margin-bottom: 45px;
  }
}
@media screen and (min-width: 1200px) {
  .menu-list__item:not(:last-child) {
    margin-right: 20px;
  }
}

.menu-list__link {
  color: #4f5b70;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 15px;
  line-height: 18px;
  letter-spacing: 0.05em;
  -webkit-transition: color 0.2s linear;
  transition: color 0.2s linear;
}
.menu-list__link:hover, .menu-list__link:focus {
  color: #ff6b08;
}

@media screen and (min-width: 1200px) {
  .menu-contact {
    display: none;
  }
}
.menu-contact__item:not(:last-child) {
  margin-bottom: 10px;
}
.menu-contact__phone {
  display: block;
  font-weight: bold;
  font-size: 17px;
  line-height: 150%;
  color: #141d2d;
}
.menu-contact__email {
  display: block;
  font-weight: bold;
  font-size: 17px;
  line-height: 150%;
  color: #141d2d;
}

.burger {
  width: 30px;
  height: 30px;
  background: #ff6b08;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-decoration: none;
}
@media screen and (min-width: 1200px) {
  .burger {
    display: none;
  }
}

.burger i {
  color: #ffffff;
}

/* Burger END */
/* ABOUT PAGE */
.about__background {
  background-color: #ffffff;
}
.about__container {
  position: relative;
}
@media screen and (min-width: 320px) {
  .about__container {
    padding-top: 30px;
    padding-bottom: 30px;
  }
}
@media screen and (min-width: 640px) {
  .about__container {
    padding-top: 50px;
    padding-bottom: 50px;
  }
}
@media screen and (min-width: 1200px) {
  .about__container {
    padding-top: 80px;
    padding-bottom: 80px;
  }
}
@media screen and (min-width: 1200px) {
  .about__container--wrap {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: start;
  }
}
.about__content-wrap {
  position: relative;
  display: block;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.about__title {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-weight: bold;
  text-transform: uppercase;
  color: #141d2d;
  z-index: 10;
}
@media screen and (min-width: 320px) {
  .about__title {
    font-size: 35px;
    line-height: 42px;
    margin-bottom: 40px;
    text-align: left;
    width: 265px;
  }
}
@media screen and (min-width: 640px) {
  .about__title {
    font-size: 50px;
    line-height: 60px;
    margin-bottom: 50px;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start;
    text-align: left;
    width: 100%;
  }
}
@media screen and (min-width: 1200px) {
  .about__title {
    font-size: 70px;
    line-height: 84px;
    margin-bottom: 55px;
    width: 615px;
  }
}
.about__descr {
  min-width: 280px;
  font-weight: bold;
  font-size: 24px;
  line-height: 29px;
  text-transform: uppercase;
  color: #ffffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin: 0;
}
@media screen and (min-width: 640px) {
  .about__descr {
    font-size: 36px;
    line-height: 43px;
    display: inline-block;
    width: 450px;
  }
}
@media screen and (min-width: 640px) {
  .about__descr-mob {
    display: none;
    visibility: hidden;
  }
}
@media screen and (max-width: 639px) {
  .about__descr-tablet {
    display: none;
    visibility: hidden;
  }
}
@media screen and (min-width: 640px) {
  .about__descr-tablet {
    display: inline-block;
  }
}
.about__descr--span {
  background: #253045;
  padding: 4px 9px;
}
.about__img--container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  margin-bottom: 20px;
  position: relative;
}
.about__img--text {
  font-weight: bold;
  font-size: 150px;
  line-height: 180px;
  text-transform: uppercase;
  color: #f1f2f2;
  -webkit-writing-mode: tb-rl;
      -ms-writing-mode: tb-rl;
          writing-mode: tb-rl;
  margin: auto;
  position: relative;
}
@media screen and (min-width: 640px) {
  .about__img--text {
    font-size: 200px;
    line-height: 240px;
    position: absolute;
    right: -27px;
    top: -71px;
    z-index: 10;
    width: 361px;
    height: 390px;
  }
}
@media screen and (min-width: 1200px) {
  .about__img--text {
    font-size: 250px;
    line-height: 300px;
    right: -230px;
    top: -330px;
  }
}
.about__img {
  width: 235px;
  height: 254px;
  position: absolute;
  left: -35px;
  top: 55px;
}
@media screen and (min-width: 640px) {
  .about__img {
    width: 361px;
    height: 390px;
  }
}
@media screen and (min-width: 1200px) {
  .about__img {
    width: 421px;
    height: 455px;
    left: 50px;
    top: 73px;
  }
}
.about__text {
  font-weight: normal;
  font-size: 17px;
  line-height: 150%;
  color: #141d2d;
  margin: 0 0 30px 0;
}
@media screen and (min-width: 640px) {
  .about__text {
    width: 330px;
  }
}
@media screen and (min-width: 1200px) {
  .about__text {
    width: 400px;
  }
}
.about__text:last-child {
  margin-bottom: 0;
}
@media screen and (min-width: 640px) {
  .about__text:last-child {
    width: 285px;
    margin-bottom: 100px;
  }
}
@media screen and (min-width: 1200px) {
  .about__text:last-child {
    width: 400px;
    margin-bottom: 0px;
  }
}

@media screen and (max-width: 1199px) {
  .about-projects {
    display: none;
    visibility: hidden;
  }
}
@media screen and (min-width: 1200px) {
  .about-projects-bar {
    display: block;
    background: #ff6b08;
    width: 159px;
    height: 465px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    padding: 10px 5px;
    margin-bottom: 35px;
    margin-top: 15px;
  }
  .about-projects {
    z-index: 2;
  }
  .about-projects-count {
    font-weight: bold;
    font-size: 65px;
    line-height: 78px;
    color: #ffffff;
    margin: 0;
  }
  .about-projects-text {
    font-weight: bold;
    font-size: 15px;
    line-height: 135%;
    color: #141d2d;
    text-transform: uppercase;
    width: 125px;
  }
}

@media screen and (min-width: 320px) {
  .hero {
    padding-bottom: 30px;
  }
}
@media screen and (min-width: 640px) {
  .hero {
    padding-bottom: 50px;
  }
}
@media screen and (min-width: 1200px) {
  .hero {
    padding-bottom: 80px;
  }
}

.developer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  color: #ffffff;
}
@media screen and (min-width: 1200px) {
  .developer {
    position: relative;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

@media screen and (min-width: 1200px) {
  .developer__frontend--wrap {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
}

.developer__name {
  font-weight: bold;
  font-size: 26px;
  line-height: 31px;
  text-transform: uppercase;
  color: #ff6b08;
}
@media screen and (min-width: 320px) {
  .developer__name {
    font-size: 26px;
    line-height: 31px;
    margin-bottom: 13px;
  }
}
@media screen and (min-width: 640px) {
  .developer__name {
    font-size: 36px;
    line-height: 43px;
    margin-bottom: 18px;
  }
}
@media screen and (min-width: 1200px) {
  .developer__name {
    font-size: 36px;
    line-height: 43px;
    margin-bottom: 15px;
  }
}

.developer__title {
  font-weight: bold;
  font-size: 35px;
  line-height: 42px;
  text-transform: uppercase;
  margin-bottom: 22px;
}
@media screen and (min-width: 320px) {
  .developer__title {
    width: 250x;
  }
}
@media screen and (min-width: 640px) {
  .developer__title {
    text-align: left;
    font-size: 55px;
    line-height: 66px;
    width: 400px;
  }
}
@media screen and (min-width: 1200px) {
  .developer__title {
    font-size: 70px;
    line-height: 84px;
    width: 515px;
  }
}

@media screen and (min-width: 640px) {
  .developer__title-tab {
    margin-left: 30px;
  }
}

.developer__description {
  font-size: 16px;
  line-height: 150%;
  max-width: 400px;
  margin-top: 35px;
  margin-bottom: 64px;
  text-align: center;
}
@media screen and (min-width: 1200px) {
  .developer__description {
    text-align: left;
  }
}

.developer__btn {
  margin-bottom: 35px;
}
@media screen and (min-width: 640px) {
  .developer__btn {
    width: 400px;
  }
}

.developer__about--wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media screen and (min-width: 640px) {
  .developer__about--wrap {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    margin-bottom: 35px;
  }
}
@media screen and (min-width: 1200px) {
  .developer__about--wrap {
    margin-bottom: 0px;
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
  }
}

.developer__about-img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 18px;
  border: 2px solid #ff6b08;
  border-radius: 50%;
}
@media screen and (min-width: 640px) {
  .developer__about-img {
    margin-right: 25px;
    margin-bottom: 0px;
  }
}

.developer__about-me--wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 35px;
}
@media screen and (min-width: 640px) {
  .developer__about-me--wrap {
    margin-top: -30px;
    margin-bottom: 0px;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: start;
  }
}
@media screen and (min-width: 1200px) {
  .developer__about-me--wrap {
    margin-top: 0px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.developer__about-me {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-weight: bold;
  font-size: 15px;
  line-height: 140%;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  margin-bottom: 18px;
}

.developer__video-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: transparent;
  border: 2px solid #ff6b08;
  color: #ff6b08;
  padding: 11px 40px;
}
@media screen and (max-width: 639px) {
  .developer__video-btn {
    margin-bottom: 35px;
  }
}

.developer__video-btn i {
  font-size: 8px;
  margin-right: 7px;
}

.developer__video-btn:hover,
.developer__video-btn:focus {
  color: #ffffff;
  background-color: #ff6b08;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
}

.developer__video-btn i {
  font-size: 8px;
  margin-right: 7px;
}

.developer__video-btn:hover,
.developer__video-btn:focus {
  color: #ffffff;
  background-color: #ff6b08;
  -webkit-box-shadow: 1px 1px 1px #ffffff;
          box-shadow: 1px 1px 1px #ffffff;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
}

.developer__laptop-img {
  width: 250px;
  margin-bottom: 40px;
  position: relative;
}
@media screen and (min-width: 1200px) {
  .developer__laptop-img {
    position: absolute;
    top: 200px;
    right: 50px;
    width: 320px;
    margin-bottom: 0px;
  }
}

.experience {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #ffffff;
}
@media screen and (min-width: 640px) {
  .experience {
    width: 236px;
  }
}
@media screen and (min-width: 1200px) {
  .experience {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    text-align: left;
    justify-self: start;
  }
}

.experience__title {
  font-weight: bold;
  font-size: 15px;
  line-height: 140%;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  margin-bottom: 30px;
  text-align: center;
}
@media screen and (min-width: 320px) and (max-width: 639px) {
  .experience__title {
    width: 170px;
  }
}
@media screen and (min-width: 1200px) {
  .experience__title {
    text-align: left;
  }
}

@media screen and (min-width: 1200px) {
  .experience__skills-container {
    text-align: left;
    justify-self: start;
  }
}

.experience__skills {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 25px;
  -webkit-transition: all 0.2s linear;
  transition: all 0.2s linear;
}

.experience__skills-dotted {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 15px;
}

.experience__skills-normal {
  color: #4a5771;
  font-size: 8px;
  margin-right: 5px;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  -webkit-transition: all 100ms cubic-bezier(0.4, 0, 0.2, 1) linear;
  transition: all 100ms cubic-bezier(0.4, 0, 0.2, 1) linear;
}

.experience__skills-accent {
  color: #ff6b08;
  font-size: 8px;
  margin-right: 5px;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  -webkit-transition: all 100ms cubic-bezier(0.4, 0, 0.2, 1) linear;
  transition: all 100ms cubic-bezier(0.4, 0, 0.2, 1) linear;
}

.experience__skills:hover .experience__skills-normal {
  text-shadow: 0 0 5px #4a5771;
}

.experience__skills:hover .experience__skills-accent {
  background-color: #ff6b08;
}

.experience__skills:hover {
  -webkit-transform: translateX(-6px);
          transform: translateX(-6px);
}

.experience__skills-text {
  font-size: 16px;
  line-height: 19px;
}

/* PERSONAL PROJECT */
.personal-projects {
  background: #141d2d;
}
@media screen and (min-width: 320px) {
  .personal-projects__container {
    padding-top: 30px;
    padding-bottom: 30px;
  }
}
@media screen and (min-width: 640px) {
  .personal-projects__container {
    padding-top: 45px;
    padding-bottom: 60px;
  }
}
@media screen and (min-width: 1200px) {
  .personal-projects__container {
    padding-top: 80px;
    padding-bottom: 80px;
  }
}
.personal-projects__title {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-weight: bold;
  text-transform: uppercase;
  color: #ffffff;
}
@media screen and (min-width: 320px) {
  .personal-projects__title {
    font-size: 35px;
    line-height: 42px;
    margin-bottom: 40px;
    text-align: center;
  }
}
@media screen and (min-width: 640px) {
  .personal-projects__title {
    font-size: 50px;
    line-height: 60px;
    margin-bottom: 50px;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start;
    text-align: start;
  }
}
@media screen and (min-width: 1200px) {
  .personal-projects__title {
    font-size: 70px;
    line-height: 84px;
    margin-bottom: 55px;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start;
    width: 550px;
  }
}

@media screen and (min-width: 1200px) {
  .personal-project__wrap {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}
.personal-project__item {
  border-bottom: 1px solid #4a5771;
  margin-bottom: 30px;
}
@media screen and (min-width: 1200px) {
  .personal-project__item {
    width: calc((100% - 35px) / 2);
  }
}
@media screen and (min-width: 1200px) {
  .personal-project__item:not(:nth-child(2n)) {
    margin-right: 35px;
  }
}

.personal-project-name {
  font-weight: normal;
  font-size: 17px;
  line-height: 150%;
  color: #ffffff;
  margin: 25px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.personal-project-img {
  width: 100%;
}

.projet-item-dot {
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background: #4a5771;
  margin-right: 7px;
}

.projet-item-dot:first-child {
  background: #ff6b08;
}

.personal-project-icon {
  font-size: 18px;
  color: #ff6b08;
  margin-right: 15px;
  margin-top: 3px;
}

/* TEAM PROJECTS */
.team-projects {
  background-color: #ffffff;
}
.team-projects__container {
  position: relative;
  overflow-x: hidden;
}
@media screen and (min-width: 320px) {
  .team-projects__container {
    padding-top: 30px;
    padding-bottom: 30px;
  }
}
@media screen and (min-width: 640px) {
  .team-projects__container {
    padding-top: 45px;
    padding-bottom: 60px;
  }
}
@media screen and (min-width: 1200px) {
  .team-projects__container {
    padding-top: 80px;
    padding-bottom: 80px;
  }
}
.team-projects__title {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-weight: bold;
  text-transform: uppercase;
  color: #141d2d;
  z-index: 10;
}
@media screen and (min-width: 320px) {
  .team-projects__title {
    font-size: 35px;
    line-height: 42px;
    margin-bottom: 40px;
    text-align: center;
  }
}
@media screen and (min-width: 640px) {
  .team-projects__title {
    font-size: 50px;
    line-height: 60px;
    margin-bottom: 50px;
    text-align: start;
  }
}
@media screen and (min-width: 1200px) {
  .team-projects__title {
    font-size: 70px;
    line-height: 84px;
    margin-bottom: 55px;
    width: 550px;
  }
}
.team-projects__title--bgd {
  position: absolute;
  font-weight: bold;
  text-transform: uppercase;
  color: #f1f2f2;
}
@media screen and (min-width: 320px) {
  .team-projects__title--bgd {
    font-size: 150px;
    line-height: 180px;
    top: 0%;
    left: 45px;
  }
}
@media screen and (min-width: 640px) {
  .team-projects__title--bgd {
    font-size: 200px;
    line-height: 240px;
    top: 0%;
    left: 45px;
  }
}
@media screen and (min-width: 1200px) {
  .team-projects__title--bgd {
    font-size: 250px;
    line-height: 300px;
    top: 1%;
    left: 281px;
  }
}
.team-projects__name {
  font-weight: normal;
  font-size: 17px;
  line-height: 150%;
  color: #141d2d;
  margin: 25px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.team-projects__icon {
  font-size: 18px;
  color: #ff6b08;
  margin-right: 15px;
  margin-top: 3px;
}

@media screen and (min-width: 1200px) {
  .team-project__wrap {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}
.team-project__item {
  border-bottom: 1px solid #f1f2f2;
  margin-bottom: 30px;
}
@media screen and (min-width: 1200px) {
  .team-project__item {
    width: calc((100% - 35px) / 2);
  }
}
@media screen and (min-width: 1200px) {
  .team-project__item:not(:nth-child(2n)) {
    margin-right: 35px;
  }
}

.cb-form {
  background-color: #ffffff;
}
.cb-form__container {
  position: relative;
  overflow-x: hidden;
  background: #ffffff;
}
@media screen and (min-width: 320px) {
  .cb-form__container {
    padding-bottom: 55px;
  }
}
@media screen and (min-width: 640px) {
  .cb-form__container {
    padding-bottom: 90px;
  }
}
@media screen and (min-width: 1200px) {
  .cb-form__container {
    padding-bottom: 150px;
  }
}
.cb-form__container--background {
  background: #141d2d;
}
@media screen and (min-width: 320px) {
  .cb-form__container--background {
    padding: 35px 20px 40px 20px;
  }
}
@media screen and (min-width: 640px) {
  .cb-form__container--background {
    padding: 75px 105px 80px 105px;
  }
}
@media screen and (min-width: 1200px) {
  .cb-form__container--background {
    padding: 90px 155px 100px 150px;
  }
}
.cb-form__title {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
  color: #ffffff;
}
@media screen and (min-width: 320px) {
  .cb-form__title {
    font-size: 24px;
    line-height: 29px;
    margin-bottom: 20px;
  }
}
@media screen and (min-width: 640px) {
  .cb-form__title {
    font-size: 36px;
    line-height: 43px;
    margin-bottom: 25px;
  }
}
@media screen and (min-width: 1200px) {
  .cb-form__title {
    font-size: 36px;
    line-height: 43px;
    margin-bottom: 10px;
  }
}
.cb-form__descr {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  color: #ffffff;
}
@media screen and (min-width: 320px) {
  .cb-form__descr {
    font-size: 17px;
    line-height: 150%;
    margin-bottom: 33px;
  }
}
@media screen and (min-width: 640px) {
  .cb-form__descr {
    font-size: 17px;
    line-height: 150%;
    margin-bottom: 37px;
  }
}
@media screen and (min-width: 1200px) {
  .cb-form__descr {
    font-size: 17px;
    line-height: 150%;
    margin-bottom: 50px;
  }
}
.cb-form__label {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
@media screen and (min-width: 320px) {
  .cb-form__label {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-bottom: 30px;
  }
}
@media screen and (min-width: 640px) {
  .cb-form__label {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-bottom: 40px;
  }
}
@media screen and (min-width: 1200px) {
  .cb-form__label {
    display: inline-block;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-right: 20px;
  }
}
.cb-form__input {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  font-size: 17px;
  line-height: 150%;
  background: transparent;
  outline: none;
  border: none;
  color: #4a5771;
  border-bottom: 1px solid #4a5771;
  padding-bottom: 15px;
}
@media screen and (min-width: 320px) {
  .cb-form__input {
    width: 240px;
  }
}
@media screen and (min-width: 640px) {
  .cb-form__input {
    width: 350px;
  }
}
@media screen and (min-width: 1200px) {
  .cb-form__input {
    text-align: left;
    width: 260px;
  }
}
.cb-form__input::-webkit-input-placeholder {
  font-size: 17px;
  line-height: 150%;
  color: #4f5b70;
}
.cb-form__input::-moz-placeholder {
  font-size: 17px;
  line-height: 150%;
  color: #4f5b70;
}
.cb-form__input:-ms-input-placeholder {
  font-size: 17px;
  line-height: 150%;
  color: #4f5b70;
}
.cb-form__input::-ms-input-placeholder {
  font-size: 17px;
  line-height: 150%;
  color: #4f5b70;
}
.cb-form__input::placeholder {
  font-size: 17px;
  line-height: 150%;
  color: #4f5b70;
}

.cb-form__input-error {
  border-bottom: 1px solid #ff0000;
}

.cb-form__input-error::-webkit-input-placeholder {
  color: #ff0000;
}

.cb-form__input-error::-moz-placeholder {
  color: #ff0000;
}

.cb-form__input-error:-ms-input-placeholder {
  color: #ff0000;
}

.cb-form__input-error::-ms-input-placeholder {
  color: #ff0000;
}

.cb-form__input-error::placeholder {
  color: #ff0000;
}

@media screen and (min-width: 320px) {
  .calculator {
    padding-top: 30px;
    padding-bottom: 50px;
  }
}
@media screen and (min-width: 640px) {
  .calculator {
    padding-top: 50px;
    padding-bottom: 70px;
  }
}
@media screen and (min-width: 1200px) {
  .calculator {
    padding-top: 100px;
    padding-bottom: 115px;
  }
}
.calculator__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
@media screen and (min-width: 1200px) {
  .calculator__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}
@media screen and (min-width: 1200px) {
  .calculator__deasctop-wrap {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
}
.calculator__title {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-weight: bold;
  text-transform: uppercase;
  color: #ffffff;
  z-index: 9;
}
@media screen and (min-width: 320px) {
  .calculator__title {
    font-size: 35px;
    line-height: 42px;
    text-align: center;
    margin-bottom: 22px;
  }
}
@media screen and (min-width: 640px) {
  .calculator__title {
    font-size: 50px;
    line-height: 60px;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start;
    text-align: left;
    margin-bottom: 37px;
  }
}
@media screen and (min-width: 1200px) {
  .calculator__title {
    font-size: 70px;
    line-height: 84px;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start;
    text-align: left;
    margin-bottom: 48px;
  }
}
@media screen and (min-width: 1200px) {
  .calculator__title-span {
    display: block;
  }
}
.calculator__descr {
  min-width: 280px;
  font-weight: bold;
  font-size: 24px;
  line-height: 29px;
  text-transform: uppercase;
  color: #ffffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 0;
}
@media screen and (min-width: 320px) {
  .calculator__descr {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
@media screen and (min-width: 640px) {
  .calculator__descr {
    font-size: 36px;
    line-height: 150%;
    display: inline-block;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    width: 530px;
  }
}
@media screen and (min-width: 640px) {
  .calculator__descr-mob {
    display: none;
    visibility: hidden;
  }
}
@media screen and (max-width: 639px) {
  .calculator__descr-tablet {
    display: none;
    visibility: hidden;
  }
}
@media screen and (min-width: 640px) {
  .calculator__descr-tablet {
    display: inline-block;
  }
}
.calculator__descr--span {
  background: #ff6b08;
  padding: 4px 9px;
}
@media screen and (max-width: 639px) {
  .calculator__img--wrap {
    margin-top: 35px;
  }
}
@media screen and (min-width: 640px) {
  .calculator__img--wrap {
    width: 550px;
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-top: 49px;
    margin-bottom: 45px;
  }
}
@media screen and (min-width: 1200px) {
  .calculator__img--wrap {
    margin-top: 55px;
  }
}
@media screen and (min-width: 320px) and (max-width: 639px) {
  .calculator__img {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 100%;
    margin-bottom: 20px;
  }
}
@media screen and (min-width: 640px) {
  .calculator__img {
    position: absolute;
    width: 344px;
    right: -50px;
    top: -48px;
    z-index: -1;
  }
}
@media screen and (min-width: 1200px) {
  .calculator__img {
    right: -150px;
    top: -80px;
  }
}
.calculator__description {
  font-size: 17px;
  line-height: 150%;
  color: #ffffff;
}
@media screen and (min-width: 320px) and (max-width: 639px) {
  .calculator__description {
    text-align: center;
    margin-bottom: 33px;
  }
}
@media screen and (min-width: 640px) {
  .calculator__description {
    width: 330px;
    text-align: left;
  }
}
@media screen and (min-width: 1200px) {
  .calculator__description {
    width: 348px;
  }
}

.calculator-form {
  background-color: #ffffff;
  color: #141d2d;
  z-index: 10;
}
@media screen and (min-width: 320px) {
  .calculator-form {
    padding: 30px 25px;
  }
}
@media screen and (min-width: 640px) {
  .calculator-form {
    padding: 60px 80px;
    z-index: 10;
  }
}
@media screen and (min-width: 1200px) {
  .calculator-form {
    width: 650px;
    padding: 45px 55px;
  }
}
.calculator-form__input {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 30px;
}
.calculator-form__title {
  font-weight: bold;
  font-size: 17px;
  line-height: 150%;
  margin-bottom: 17px;
}
.calculator-form__select {
  background-color: transparent;
  border: none;
  border-bottom: 1px solid #ff6b08;
  padding: 5px 0 17px 0;
  outline: none;
}

.calculator-form__select option {
  background-color: transparent;
  border: none;
  outline: none;
}

.calculator-form__select option:hover,
.calculator-form__select option:focus {
  background-color: #ff6b08;
  border-color: #ff6b08;
}

.calculator-form__radio-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.calculator-form__input-field {
  margin-right: 5px;
}
.calculator-form__label {
  font-size: 17px;
  line-height: 150%;
  margin-right: 20px;
}

.calculator-form__input-cost {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.calculator-form__total {
  font-weight: bold;
  font-size: 17px;
  line-height: 150%;
  margin-bottom: 10px;
}
.calculator-form__total-cost {
  font-weight: bold;
  font-size: 36px;
  margin-bottom: 25px;
}

.calculator-form__input .tech-input-container .choices__item {
  background: #ff6b08;
  border: none;
  border-radius: 3px;
  position: relative;
}

.calculator-form__input .tech-input-container:after {
  content: "\f107";
  height: 0;
  width: 0;
  position: absolute;
  right: 10px;
  top: 45%;
  margin-top: -2.5px;
  cursor: pointer;
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
}

.calculator-form__input .tech-input-container {
  background: transparent;
  border-radius: 0;
  border: none;
  border-bottom: 1px solid #bcc1d2;
  padding-left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 35px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.calculator-form__input .choices__input {
  display: none;
}

.calculator-form__input .choices__item .choices__button {
  border-left: none;
  margin: 0;
  padding-left: 8px;
}

.footer {
  color: #141d2d;
  background-color: #ffffff;
}
.footer__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
@media screen and (min-width: 320px) and (max-width: 639px) {
  .footer__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
    padding: 30px 30px 45px 30px;
  }
}
@media screen and (min-width: 640px) and (max-width: 1199px) {
  .footer__container {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    padding: 40px 20px 60px 20px;
  }
}
@media screen and (min-width: 1200px) {
  .footer__container {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 80px 20px 50px 20px;
  }
}

.footer__about--container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
@media screen and (min-width: 320px) and (max-width: 639px) {
  .footer__about--container {
    margin-bottom: 21px;
  }
}
@media screen and (min-width: 640px) and (max-width: 1199px) {
  .footer__about--container {
    margin-right: 80px;
    margin-bottom: 19px;
  }
}
.footer__about--title {
  font-weight: bold;
  font-size: 17px;
  line-height: 150%;
}
.footer__about--subtitle {
  font-size: 17px;
  line-height: 150%;
}

.footer__address--container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
@media screen and (min-width: 320px) and (max-width: 639px) {
  .footer__address--container {
    margin-bottom: 30px;
  }
}
.footer__address--phone {
  font-weight: bold;
  font-size: 17px;
  line-height: 150%;
  color: #141d2d;
}
@media screen and (min-width: 320px) and (max-width: 1199px) {
  .footer__address--phone {
    margin-bottom: 15px;
  }
}
.footer__address--email {
  font-size: 17px;
  line-height: 150%;
  color: #141d2d;
}

.footer__social-icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.footer__social-icon--item:not(:last-child) {
  margin-right: 33px;
}
.footer__social-icon--link {
  color: rgba(255, 0, 0, 0.6);
  fill: rgba(255, 0, 0, 0.6);
  font-weight: 400;
  line-height: 1.71;
  text-decoration: none;
  -webkit-transition: all 300ms cubic-bezier(0.4, 0, 0.2, 1) linear;
  transition: all 300ms cubic-bezier(0.4, 0, 0.2, 1) linear;
}
.footer__social-icon--link:hover, .footer__social-icon--link:focus {
  color: #ff6b08;
  fill: #ff6b08;
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
  outline: transparent;
}
.footer__social-icon--icon {
  display: block;
  width: 26px;
  height: 26px;
  fill: #253045;
  -webkit-transition: all 300ms cubic-bezier(0.4, 0, 0.2, 1) linear;
  transition: all 300ms cubic-bezier(0.4, 0, 0.2, 1) linear;
}
.footer__social-icon--icon:hover, .footer__social-icon--icon:focus {
  fill: #ff6b08;
  -webkit-transform: translateY(1px);
          transform: translateY(1px);
}

.visually-hidden:not(:focus):not(:active),
input[type=checkbox].visually-hidden,
input[type=radio].visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1;
  bottom: 0px;
  padding: 0px;
  word-spacing: nowrap;
  -webkit-clip-path: inset(100%);
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container,
.header,
.calculator {
  overflow: hidden;
}

.calculator-form__btn, .cb-form__btn, .btn__more-details, .btn {
  font-family: "Acrom", sans-serif;
  font-size: 15px;
  font-weight: 700;
  line-height: 18px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  border: none;
  outline: none;
  background-color: #ff6b08;
  color: #ffffff;
  cursor: pointer;
  padding: 20px 30px;
  -webkit-transition: all 100ms cubic-bezier(0.4, 0, 0.2, 1) linear;
  transition: all 100ms cubic-bezier(0.4, 0, 0.2, 1) linear;
}
.calculator-form__btn:hover, .cb-form__btn:hover, .btn__more-details:hover, .btn:hover, .calculator-form__btn:focus, .cb-form__btn:focus, .btn__more-details:focus, .btn:focus {
  -webkit-box-shadow: 1px 1px 1px #ff6b08;
          box-shadow: 1px 1px 1px #ff6b08;
  text-shadow: 1px 1px 1px rgb(0, 0, 1);
}

.btn__more-details {
  padding: 15px 30px 15px 10px;
  margin-bottom: 30px;
}

.cb-form__btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-right: auto;
  margin-left: auto;
  padding: 14px 13px;
}

@media screen and (min-width: 320px) {
  .calculator-form__btn {
    padding: 14px 20px;
  }
}
@media screen and (min-width: 640px) {
  .calculator-form__btn {
    padding: 14px 122px;
  }
}
@media screen and (min-width: 1200px) {
  .calculator-form__btn {
    padding: 14px 40px;
  }
}

.scroll-btn, .accent-btn {
  font-family: "Acrom", sans-serif;
  font-size: 15px;
  font-weight: 700;
  line-height: 18px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  outline: none;
  color: #ffffff;
  background-color: transparent;
  cursor: pointer;
  -webkit-transition: all 100ms cubic-bezier(0.4, 0, 0.2, 1) linear;
  transition: all 100ms cubic-bezier(0.4, 0, 0.2, 1) linear;
}
.scroll-btn:hover, .accent-btn:hover, .scroll-btn:focus, .accent-btn:focus {
  -webkit-box-shadow: 1px 1px 1px #ff6b08;
          box-shadow: 1px 1px 1px #ff6b08;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
}

.scroll-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  overflow: hidden;
  position: fixed;
  background-color: transparent;
  right: 20px;
  bottom: 58px;
  z-index: 11;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 2px solid #ff6b08;
}
.scroll-btn__style {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 30px;
  height: 30px;
  color: #ff6b08;
}

.modal {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(20, 29, 45, 0.8);
  z-index: 11;
  overflow: auto;
  -webkit-transition: all 0.2s linear;
  transition: all 0.2s linear;
  pointer-events: none;
  opacity: 0;
}

.modal-active {
  opacity: 1;
  pointer-events: all;
}

.modal-close-btn {
  font-size: 18px;
  position: absolute;
  top: 16px;
  right: 16px;
  color: #ff6b08;
  cursor: pointer;
}

.project-modal-img {
  width: 100%;
  -webkit-box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
          box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

.modal-video {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(20, 29, 45, 0.8);
  z-index: 11;
  overflow: auto;
  -webkit-transition: all 0.2s linear;
  transition: all 0.2s linear;
  pointer-events: none;
  opacity: 0;
}

.my-video-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100%;
  padding: 40px 10px;
}

.my-video-close-btn {
  background-color: #ffffff;
  color: #ff6b08;
  padding: 10px 14px;
  top: 16px;
  right: 16px;
}

.my-video-content {
  width: 100%;
}

/* REQUEST RECEIVED MODAL */
.modal-request-received {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 20px 10px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.request-received-container {
  background: #ffffff;
  padding: 80px 28px;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
}

.request-received-title {
  color: #ff6b08;
  font-weight: bold;
  font-size: 24px;
  line-height: 29px;
  text-transform: uppercase;
  margin-bottom: 20px;
  margin-top: 0;
}

.request-received-primary-msg {
  font-weight: bold;
  font-size: 26px;
  line-height: 43px;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 20px;
  margin-top: 0;
  max-width: 245px;
}

.request-received-secondary-msg {
  font-size: 17px;
  line-height: 25px;
  text-align: center;
  width: 185px;
  margin: 0;
}

.project-modal {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 20px 10px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.project-modal-container {
  background: #ffffff;
  padding: 45px 0;
  text-align: left;
  position: relative;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  height: 85%;
  border-radius: 5px 5px 5px 5px;
}
@media screen and (min-width: 320px) {
  .project-modal-container {
    width: 300px;
    height: 95%;
  }
}
@media screen and (min-width: 640px) {
  .project-modal-container {
    width: 600px;
  }
}
@media screen and (min-width: 1200px) {
  .project-modal-container {
    width: 960px;
  }
}

.project-modal-scrollable {
  overflow-y: auto;
  height: 100%;
  padding: 0 25px;
}

.project-modal-title {
  font-weight: bold;
  font-size: 20px;
  line-height: 24px;
  color: #141d2d;
  text-transform: uppercase;
  text-decoration: none;
  margin: 0 0 25px 0;
  display: block;
}
@media screen and (min-width: 320px) {
  .project-modal-title {
    margin-top: 20px;
  }
}
@media screen and (min-width: 640px) {
  .project-modal-title {
    margin-top: 30px;
  }
}
@media screen and (min-width: 1200px) {
  .project-modal-title {
    margin-top: 40px;
  }
}

.project-modal-text {
  font-size: 16px;
  line-height: 145%;
  color: #141d2d;
  margin: 0 0 30px 0;
}

.swiper-container {
  width: 100%;
  height: auto;
  padding-top: 35px;
  padding-bottom: 25px;
  background: #253045;
  border-radius: 8px 8px 0 0;
  -webkit-box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
          box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}/*# sourceMappingURL=main.css.map */