.calculator-form {
  background-color: $c-light;
  color: $txt-c-dark;
  z-index: 10;

  @media screen and (min-width: $mobile) {
    padding: 30px 25px;
  }
  @media screen and (min-width: $tablet-min) {
    padding: 60px 80px;
    z-index: 10;
  }
  @media screen and (min-width: $desktop) {
    width: 385px;
    // height: 595px;
    padding: 45px 55px;
  }

  &__input {
    display: flex;
    flex-direction: column;
    margin-bottom: 30px;
  }

  &__title {
    font-weight: bold;
    font-size: 17px;
    line-height: 150%;

    margin-bottom: 17px;
  }

  &__select {
    background-color: transparent;
    border: none;
    border-bottom: 1px solid $c-grey;
    padding: 5px 0 17px 0;
    outline: none;
  }
}

// .calculator-form__select option {
//   background-color: transparent;
//   border: none;
//   outline: none;
// }

// .calculator-form__select option:hover,
// .calculator-form__select option:focus {
//   background-color: $c-accent;
//   border-color: $c-accent;
//   // outline: none;
// }
//  TODO: чекбокс
.calculator-form {
  &__radio-container {
    display: flex;
    align-items: center;
  }
  &__input-field {
    margin-right: 5px;
  }
  &__label {
    font-size: 17px;
    line-height: 150%;
    margin-right: 20px;
  }
}
// TODO:   вивід ціни проектку
.calculator-form {
  &__input-cost {
    display: flex;
    flex-direction: column;
  }
  &__total {
    font-weight: bold;
    font-size: 17px;
    line-height: 150%;
    margin-bottom: 10px;
  }
  &__total-cost {
    font-weight: bold;
    font-size: 36px;
    margin-bottom: 25px;
  }
}
