.calculator {
  @extend %container;

  @media screen and (min-width: $mobile) {
    padding-top: 50px;
    padding-bottom: 73px;
  }
  @media screen and (min-width: $tablet-min) {
    padding-top: 70px;
    padding-bottom: 91px;
  }
  @media screen and (min-width: $desktop) {
    padding-top: 160px;
    padding-bottom: 115px;
  }

  // &__deasctop-wrap {
  //   flex-direction: row;
  //   justify-content: space-between;
  // }

  &__title {
    position: relative;
    display: flex;
    font-weight: bold;
    text-transform: uppercase;
    color: $txt-c-light;

    z-index: 9;

    @media screen and (min-width: $mobile) {
      font-size: 35px;
      line-height: 42px;
      text-align: center;

      margin-bottom: 22px;
    }
    @media screen and (min-width: $tablet-min) {
      font-size: 50px;
      line-height: 60px;
      justify-content: start;
      text-align: left;

      margin-bottom: 37px;
    }
    @media screen and (min-width: $desktop) {
      font-size: 70px;
      line-height: 84px;
      justify-content: start;
      text-align: left;
      width: 630px;
      margin-bottom: 48px;
    }
  }

  &__selected-text {
    font-weight: bold;
    font-size: 24px;
    line-height: 150%;

    text-transform: uppercase;
    color: $txt-c-light;
    background-color: $c-accent;

    @media screen and (min-width: $mobile) and (max-width: $mobile-max) {
      font-weight: bold;
      font-size: 24px;
      line-height: 150%;
      display: flex;
      justify-content: center;
      flex-direction: column;
      text-align: center;
      width: 100%;
    }
    @media screen and (min-width: $tablet-min) {
      font-size: 36px;
      line-height: 150%;
      width: 530px;
      align-items: flex-start;
      padding-left: 15px;
      padding-right: 15px;
    }
    @media screen and (min-width: $desktop) {
      // font-size: 36px;
      // line-height: 150%;
      // width: 530px;
      // align-items: flex-start;
    }
  }

  &__img--wrap {
    @media screen and (min-width: $tablet-min) {
      width: 550px;
      position: relative;
      display: flex;
      align-items: center;
      margin-top: 49px;
      margin-bottom: 45px;
    }
    @media screen and (min-width: $desktop) {
      margin-top: 55px;
    }
  }

  &__img {
    @media screen and (min-width: $mobile) and (max-width: $mobile-max) {
      display: flex;
      justify-content: center;
      width: 100%;
      margin-bottom: 20px;
    }

    @media screen and (min-width: $tablet-min) {
      position: absolute;
      width: 344px;
      // top: 5px;
      right: -50px;
      top: -48px;
      z-index: -1;
    }
    @media screen and (min-width: $desktop) {
      right: -150px;
      top: -80px;
      // max-width: 600px;
      // align-items: left;
    }
  }

  &__description {
    font-size: 17px;
    line-height: 150%;

    color: $txt-c-light;
    @media screen and (min-width: $mobile) and (max-width: $mobile-max) {
      text-align: center;
      margin-bottom: 33px;
    }
    @media screen and (min-width: $tablet-min) {
      width: 330px;
      text-align: left;
    }
    @media screen and (min-width: $desktop) {
      width: 348px;
    }
  }
}
