/* ABOUT PAGE */

.about {
  &__background {
    background-color: $c-light;
  }

  &__container {
    @extend %container;

    @media screen and (min-width: $mobile) {
      padding-top: 55px;
      padding-bottom: 55px;
    }
    @media screen and (min-width: $tablet-min) {
      padding-top: 65px;
      padding-bottom: 65px;
    }
    @media screen and (min-width: $desktop) {
      padding-top: 130px;
      padding-bottom: 140px;
    }
  }
  &__title {
    position: relative;
    display: flex;
    font-weight: bold;
    text-transform: uppercase;
    color: $txt-c-dark;

    z-index: 10;

    @media screen and (min-width: $mobile) {
      font-size: 35px;
      line-height: 42px;
      margin-bottom: 40px;
      text-align: left;
      width: 265px;
    }
    @media screen and (min-width: $tablet-min) {
      font-size: 50px;
      line-height: 60px;
      margin-bottom: 50px;
      justify-content: start;
      text-align: left;
      width: 100%;
    }
    @media screen and (min-width: $desktop) {
      font-size: 70px;
      line-height: 84px;
      margin-bottom: 55px;
      justify-content: start;
      text-align: left;
      width: 615px;
    }
  }

  &__descr {
    min-width: 280px;
    font-weight: bold;
    font-size: 24px;
    line-height: 29px;
    text-transform: uppercase;
    color: $txt-c-light;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 0;
    // background: $c-dark-blue;
    // padding: 4px 9px;
    @media screen and (min-width: $tablet-min) {
      font-size: 36px;
      line-height: 43px;

      display: inline-block;
      width: 450px;
    }
  }

  &__descr-mob {
    @media screen and (min-width: $tablet-min) {
      display: none;
      visibility: hidden;
    }
  }

  &__descr-tablet {
    @media screen and (max-width: $mobile-max) {
      display: none;
      visibility: hidden;
    }

    @media screen and (min-width: $tablet-min) {
      display: inline-block;
    }
  }

  &__descr--span {
    background: $c-dark-blue;
    padding: 4px 9px;
  }

  &__img--container {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-bottom: 20px;
    position: relative;
  }

  &__img--text {
    font-weight: bold;
    font-size: 150px;
    line-height: 180px;
    text-transform: uppercase;
    color: $txt-c-grey-light;
    writing-mode: tb-rl;
    margin: auto;
    position: relative;

    @media screen and (min-width: $tablet-min) {
      position: absolute;
      right: -27px;
      top: -71px;
      font-size: 183px;
      line-height: 240px;
      z-index: 25;
      width: 361px;
      height: 390px;
    }

    // @media screen and (min-width: $desktop) {
    // }
  }

  &__img {
    width: 235px;
    height: 254px;
    position: absolute;
    left: -35px;
    top: 55px;
    @media screen and (min-width: $tablet-min) {
      width: 361px;
      height: 390px;
    }
  }

  &__text {
    font-weight: normal;
    font-size: 17px;
    line-height: 150%;
    color: $c-dark;
    margin: 0 0 30px 0;
    @media screen and (min-width: $tablet-min) {
      width: 330px;
    }
  }

  &__text:last-child {
    margin-bottom: 0;
    width: 285px;
    @media screen and (min-width: $tablet-min) {
      margin-bottom: 85px;
    }
  }
}
