/* ABOUT PAGE */

.about {
  &__background {
    background-color: $c-light;
  }

  &__container {
    position: relative;
    @extend %container;

    @media screen and (min-width: $mobile) {
      padding-top: 30px;
      padding-bottom: 30px;
    }
    @media screen and (min-width: $tablet-min) {
      padding-top: 50px;
      padding-bottom: 50px;
    }
    @media screen and (min-width: $desktop) {
      padding-top: 80px;
      padding-bottom: 80px;
    }
  }

  &__container--wrap {
    @media screen and (min-width: $desktop) {
      display: flex;
      justify-content: space-between;
      align-items: start;
    }
  }

  &__content-wrap {
    position: relative;
    display: block;
    flex-direction: column;
  }

  &__title {
    position: relative;
    display: flex;
    font-weight: bold;
    text-transform: uppercase;
    color: $txt-c-dark;

    z-index: 10;

    @media screen and (min-width: $mobile) {
      font-size: 35px;
      line-height: 42px;
      margin-bottom: 40px;
      text-align: left;
      width: 265px;
    }
    @media screen and (min-width: $tablet-min) {
      font-size: 50px;
      line-height: 60px;
      margin-bottom: 50px;
      justify-content: start;
      text-align: left;
      width: 100%;
    }
    @media screen and (min-width: $desktop) {
      font-size: 70px;
      line-height: 84px;
      margin-bottom: 55px;
      width: 615px;

      // justify-content: start;
      // text-align: left;

      // flex-direction: row;
      // padding: 0 10px;
      // justify-content: space-between;
    }
  }

  &__descr {
    min-width: 280px;
    font-weight: bold;
    font-size: 24px;
    line-height: 29px;
    text-transform: uppercase;
    color: $txt-c-light;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 0;

    @media screen and (min-width: $tablet-min) {
      font-size: 36px;
      line-height: 43px;
      display: inline-block;
      width: 450px;
    }
  }

  &__descr-mob {
    @media screen and (min-width: $tablet-min) {
      display: none;
      visibility: hidden;
    }
  }

  &__descr-tablet {
    @media screen and (max-width: $mobile-max) {
      display: none;
      visibility: hidden;
    }

    @media screen and (min-width: $tablet-min) {
      display: inline-block;
    }
  }

  &__descr--span {
    background: $c-dark-blue;
    padding: 4px 9px;
  }

  &__img--container {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-bottom: 20px;
    position: relative;
  }

  &__img--text {
    font-weight: bold;
    font-size: 150px;
    line-height: 180px;
    text-transform: uppercase;
    color: $txt-c-grey-light;
    writing-mode: tb-rl;
    margin: auto;
    position: relative;

    @media screen and (min-width: $tablet-min) {
      font-size: 200px;
      line-height: 240px;
      position: absolute;
      right: -27px;
      top: -71px;
      // font-size: 183px;
      // line-height: 240px;
      z-index: 25;
      width: 361px;
      height: 390px;
    }

    @media screen and (min-width: $desktop) {
      font-size: 250px;
      line-height: 300px;
      right: -230px;
      top: -330px;
    }
  }

  &__img {
    width: 235px;
    height: 254px;
    position: absolute;
    left: -35px;
    top: 55px;
    @media screen and (min-width: $tablet-min) {
      width: 361px;
      height: 390px;
    }
    @media screen and (min-width: $desktop) {
      width: 421px;
      height: 455px;
      left: 50px;
      top: 73px;
    }
  }

  &__text {
    font-weight: normal;
    font-size: 17px;
    line-height: 150%;
    color: $c-dark;
    margin: 0 0 30px 0;
    @media screen and (min-width: $tablet-min) {
      width: 330px;
    }
  }

  &__text:last-child {
    margin-bottom: 0;
    width: 285px;
    @media screen and (min-width: $tablet-min) {
      margin-bottom: 100px;
    }
    @media screen and (min-width: $desktop) {
      margin-bottom: 0px;
    }
  }
}

.about-projects {
  @media screen and (max-width: $tablet-max) {
    display: none;
    visibility: hidden;
  }

  @media screen and (min-width: $desktop) {
    &-bar {
      display: block;
      background: $c-accent;
      width: 159px;
      height: 465px;
      display: flex;
      justify-content: center;
      align-items: flex-end;
      padding: 10px 5px;
      margin-bottom: 35px;
      margin-top: 15px;
    }

    & {
      z-index: 2;
    }

    &-count {
      font-weight: bold;
      font-size: 65px;
      line-height: 78px;
      color: $txt-c-light;
      margin: 0;
    }

    &-text {
      font-weight: bold;
      font-size: 15px;
      line-height: 135%;
      color: $txt-c-dark;
      text-transform: uppercase;
      width: 125px;
    }
  }
}
