.cb-form {
  background-color: $c-light;

  &__container {
    @extend %container;
    position: relative;
    overflow-x: hidden;
    background: $c-light;

    @media screen and (min-width: $mobile) {
      padding-bottom: 55px;
    }
    @media screen and (min-width: $tablet-min) {
      padding-bottom: 90px;
    }
    @media screen and (min-width: $desktop) {
      padding-bottom: 150px;
    }
  }

  &__container--background {
    background: $c-dark;
    @media screen and (min-width: $mobile) {
      padding: 35px 20px 40px 20px;
    }
    @media screen and (min-width: $tablet-min) {
      padding: 75px 105px 80px 105px;
    }
    @media screen and (min-width: $desktop) {
      padding: 90px 155px 100px 150px;
    }
  }

  &__title {
    position: relative;
    display: flex;
    justify-content: center;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
    color: $txt-c-light;

    @media screen and (min-width: $mobile) {
      font-size: 24px;
      line-height: 29px;

      margin-bottom: 20px;
    }
    @media screen and (min-width: $tablet-min) {
      font-size: 36px;
      line-height: 43px;

      margin-bottom: 25px;
    }
    @media screen and (min-width: $desktop) {
      font-size: 36px;
      line-height: 43px;

      margin-bottom: 10px;
    }
  }

  &__descr {
    position: relative;
    display: flex;
    justify-content: center;
    text-align: center;

    color: $txt-c-light;

    @media screen and (min-width: $mobile) {
      font-size: 17px;
      line-height: 150%;

      // padding: 35px 20px 0px 20px;

      margin-bottom: 33px;
    }
    @media screen and (min-width: $tablet-min) {
      font-size: 17px;
      line-height: 150%;

      // padding: 70px 105px 0px 105px;

      margin-bottom: 37px;
    }
    @media screen and (min-width: $desktop) {
      font-size: 17px;
      line-height: 150%;

      // padding: 0px 250px;

      margin-bottom: 50px;
    }
  }

  &__label {
    position: relative;
    display: flex;

    @media screen and (min-width: $mobile) {
      justify-content: center;
      margin-bottom: 30px;
    }
    @media screen and (min-width: $tablet-min) {
      justify-content: center;

      margin-bottom: 40px;
    }
    @media screen and (min-width: $desktop) {
      display: inline-block;
      // flex-direction: row;
      justify-content: center;
      margin-right: 20px;

      // &:not(:last-child) {
      //   margin-right: 20px;
      // }
    }
  }

  &__input {
    display: flex;
    justify-content: center;
    text-align: center;

    font-size: 17px;
    line-height: 150%;

    background: transparent;
    outline: none;
    border: none;

    color: $c-grey-blue;
    border-bottom: 1px solid $c-grey-blue;

    padding-bottom: 15px;

    @media screen and (min-width: $mobile) {
      width: 240px;
    }
    @media screen and (min-width: $tablet-min) {
      width: 350px;
    }
    @media screen and (min-width: $desktop) {
      text-align: left;
      width: 260px;
    }
  }

  &__input::placeholder {
    font-size: 17px;
    line-height: 150%;
    color: $txt-c-grey;
  }
}

.cb-form__input-error {
  border-bottom: 1px solid #ff0000;
}

.cb-form__input-error::placeholder {
  color: #ff0000;
}
