.header {
  background-color: $c-dark;
  color: $txt-c-light;

  &__container {
    @extend %container;

    @media screen and (min-width: $mobile) {
      padding-top: 30px;
      padding-bottom: 35px;
    }
    @media screen and (min-width: $tablet-min) {
      padding-top: 25px;
      padding-bottom: 60px;
    }
    @media screen and (min-width: $desktop) {
      padding-top: 40px;
      padding-bottom: 120px;
    }
  }

  &__nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__button-wrap {
    display: flex;
    align-items: center;
  }

  &__btn {
    color: $c-accent;
    font-weight: 800;
    font-size: 15px;
    line-height: 18px;
    letter-spacing: 0.05em;
    text-transform: uppercase;

    margin-right: 22px;
  }
}
