.burger {
  width: 30px;
  height: 30px;
  background: $c-accent;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-decoration: none;

  @media screen and (min-width: $desktop) {
    display: none;
  }
}

.burger i {
  color: $c-light;
}

// !!!!!!!!!!!!
// .header__burger {
//   display: block;
//   position: relative;
//   width: 30px;
//   height: 30px;
//   cursor: pointer;
//   z-index: 5;
//   background-color: var(--c-accent);
// }

// .burger i {
//   position: absolute;
//   background-color: $c-grey-light;
//   width: 10px;
//   height: 2px;
//   top: 14px;
//   left: 10px;
//   transition: all 0.2s linear;
// }

// .burger::before,
// .burger::after {
//   content: "";
//   background-color: $c-grey-light;
//   position: absolute;
//   width: 10px;
//   height: 2px;
//   left: 10px;
//   transition: all 0.2s linear;
// }

// .burger::before {
//   top: 10px;
// }

// .burger::after {
//   bottom: 10px;
// }

// .burger.modal-active::before {
//   transform: rotate(45deg);
//   background-color: #fff;
//   top: 14px;
// }

// .burger.modal-active::after {
//   transform: rotate(-45deg);
//   background-color: #fff;
//   bottom: 14px;
// }

// .burger.modal-active i {
//   transform: scale(0);
// }

// body.lock {
//   overflow: hidden;
// }

/* Burger END */
