.menu {
  color: $txt-c-accent;
  // display: flex;
}
.menu-list {
  @media screen and (min-width: $desktop) {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.menu-list__item:not(:last-child) {
  margin-right: 20px;
}

.menu-list__link {
  color: $txt-c-grey;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 15px;
  line-height: 18px;
  letter-spacing: 0.05em;
  transition: color 0.2s linear;
}
.menu-list__link:hover,
.menu-list__link:focus {
  color: $txt-c-accent;
}

.menu-contact {
  @media screen and (min-width: $desktop) {
    display: none;
  }

  &__item:not(:last-child) {
    margin-bottom: 10px;
  }

  &__phone {
    display: block;
    font-weight: bold;
    font-size: 17px;
    line-height: 150%;
    color: $txt-c-dark;
  }

  &__email {
    display: block;
    font-weight: bold;
    font-size: 17px;
    line-height: 150%;
    color: $txt-c-dark;
  }
}

// TODO:  стилі активного меню

.menu.active .menu-list__item {
  margin-bottom: 35px;
  margin-right: 0;
}

.menu.active .menu-list__link {
  font-weight: bold;
  font-size: 15px;
  line-height: 18px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: $txt-c-grey;
}
