%button {
  font-family: $font-main;
  font-size: 15px;
  font-weight: 700;
  line-height: 18px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  // display: block;
  border: none;
  outline: none;
  background-color: $c-accent;
  color: $txt-c-light;
  cursor: pointer;
  padding: 20px 30px;
  transition: all $animation-fast linear;
  &:hover,
  &:focus {
    box-shadow: 1px 1px 1px $c-accent;
    text-shadow: 1px 1px 1px rgb(0, 0, 0.5);
  }
}

.btn {
  @extend %button;
}

.btn__more-details {
  padding: 15px 30px 15px 10px;
  margin-bottom: 30px;
  @extend %button;
}

.cb-form__btn {
  display: flex;
  justify-content: center;
  margin-right: auto;
  margin-left: auto;
  padding: 14px 13px;
  @extend %button;
}

.calculator-form__btn {
  @media screen and (min-width: $mobile) {
    padding: 14px 20px;
  }
  @media screen and (min-width: $tablet-min) {
    padding: 14px 122px;
  }
  @media screen and (min-width: $desktop) {
    padding: 14px 40px;
  }
  @extend %button;
}

// TODO:  прозора кнопка з оранжевим ховером

%accent-btn {
  font-family: $font-main;
  font-size: 15px;
  font-weight: 700;
  line-height: 18px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  // display: block;
  // border: none;
  outline: none;
  color: $txt-c-light;
  background-color: transparent;
  cursor: pointer;
  transition: all $animation-fast linear;
  &:hover,
  &:focus {
    box-shadow: 1px 1px 1px $c-accent;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
  }
}

.accent-btn {
  @extend %accent-btn;
}

.scroll-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  // display: none;
  position: fixed;
  background-color: transparent;
  right: 20px;
  bottom: 58px;
  z-index: 90;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 2px solid $c-accent;

  @extend %accent-btn;

  &__style {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    color: $c-accent;
  }
}
