.developer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  color: $txt-c-light;

  @media screen and (min-width: $desktop) {
    position: relative;
    align-items: flex-start;
    flex-direction: row;
  }
}

.developer__frontend--wrap {
  @media screen and (min-width: $desktop) {
    display: flex;
    flex-direction: column;
    align-items: center;
    order: 2;
  }
}

.developer__name {
  font-weight: bold;
  font-size: 26px;
  line-height: 31px;
  text-transform: uppercase;
  color: $txt-c-accent;

  @media screen and (min-width: $mobile) {
    font-size: 26px;
    line-height: 31px;
    margin-bottom: 13px;
  }
  @media screen and (min-width: $tablet-min) {
    font-size: 36px;
    line-height: 43px;
    margin-bottom: 18px;
  }
  @media screen and (min-width: $desktop) {
    font-size: 36px;
    line-height: 43px;
    margin-bottom: 15px;
  }
}

.developer__title {
  font-weight: bold;
  font-size: 35px;
  line-height: 42px;
  text-transform: uppercase;
  margin-bottom: 22px;
  @media screen and (min-width: $mobile) {
    width: 250x;
  }
  @media screen and (min-width: $tablet-min) {
    text-align: left;
    font-size: 55px;
    line-height: 66px;
    width: 400px;
  }
  @media screen and (min-width: $desktop) {
    font-size: 70px;
    line-height: 84px;
    width: 515px;
  }
}

.developer__title-tab {
  @media screen and (min-width: $tablet-min) {
    margin-left: 30px;
  }
}

.developer__description {
  font-size: 16px;
  line-height: 150%;
  max-width: 400px;
  margin-top: 35px;
  margin-bottom: 64px;
  text-align: center;
  @media screen and (min-width: $desktop) {
    text-align: left;
  }
}

.developer__btn {
  margin-bottom: 35px;
  @media screen and (min-width: $tablet-min) {
    width: 400px;
  }
}

.developer__about--wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
  @media screen and (min-width: $tablet-min) {
    flex-direction: row;
    margin-bottom: 35px;
  }
  @media screen and (min-width: $desktop) {
    margin-bottom: 0px;
    order: 3;
  }
}

.developer__about-img {
  display: flex;
  margin-bottom: 18px;
  border: 2px solid $c-accent;
  border-radius: 50%;
  @media screen and (min-width: $tablet-min) {
    margin-right: 25px;
    margin-bottom: 0px;
  }
}

.developer__about-me--wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 35px;
  @media screen and (min-width: $tablet-min) {
    margin-top: -30px;
    margin-bottom: 0px;
    align-items: start;
  }
  @media screen and (min-width: $desktop) {
    margin-top: 0px;
    align-items: center;
  }
}

.developer__about-me {
  display: flex;
  font-weight: bold;
  font-size: 15px;
  line-height: 140%;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  margin-bottom: 18px;
}

.developer__video-btn {
  display: flex;
  align-items: center;
  background-color: transparent;
  border: 2px solid $c-accent;
  color: $txt-c-accent;
  padding: 11px 40px;
  @media screen and (max-width: $mobile-max) {
    margin-bottom: 35px;
  }
}

.developer__video-btn i {
  font-size: 8px;
  margin-right: 7px;
}

.developer__video-btn:hover,
.developer__video-btn:focus {
  color: $txt-c-light;
  background-color: $c-accent;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
}

.developer__video-btn i {
  font-size: 8px;
  margin-right: 7px;
}

.developer__video-btn:hover,
.developer__video-btn:focus {
  color: $txt-c-light;
  background-color: $c-accent;
  box-shadow: 1px 1px 1px $c-light;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
}

.developer__laptop-img {
  width: 250px;
  margin-bottom: 40px;
  position: relative;
  @media screen and (min-width: $desktop) {
    position: absolute;
    top: 200px;
    right: 50px;
    width: 320px;
    margin-bottom: 0px;
  }
}
