.hero {
  @extend %container;

  @media screen and (min-width: $mobile) {
    padding-bottom: 30px;
  }
  @media screen and (min-width: $tablet-min) {
    padding-bottom: 50px;
  }
  @media screen and (min-width: $desktop) {
    padding-bottom: 80px;
  }
}
