.ofer {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: $txt-c-light;
  text-align: center;
  max-width: 520px;
  margin-left: auto;
  margin-right: auto;
}

.ofer__name {
  font-weight: bold;
  font-size: 26px;
  line-height: 31px;
  text-transform: uppercase;
  color: $txt-c-accent;

  @media screen and (min-width: $mobile) {
    font-size: 26px;
    line-height: 31px;
    margin-bottom: 13px;
  }
  @media screen and (min-width: $tablet-min) {
    font-size: 36px;
    line-height: 43px;
    margin-bottom: 18px;
  }
  @media screen and (min-width: $desktop) {
    font-size: 36px;
    line-height: 43px;
    margin-bottom: 15px;
  }
}

.ofer__title {
  font-weight: bold;
  font-size: 35px;
  line-height: 42px;
  text-transform: uppercase;
  margin-bottom: 22px;
  @media screen and (min-width: $mobile) {
    width: 250x;
  }
  @media screen and (min-width: $tablet-min) {
    text-align: left;
    font-size: 55px;
    line-height: 66px;
    width: 400px;
  }
  @media screen and (min-width: $desktop) {
    font-size: 70px;
    line-height: 84px;
    width: 515px;
  }
}

.ofer__title-tab {
  @media screen and (min-width: $tablet-min) {
    margin-left: 30px;
  }
}

.ofer__description {
  font-size: 16px;
  line-height: 150%;
  max-width: 390px;
  margin-bottom: 22px;

  @media screen and (min-width: $desktop) {
    text-align: left;
  }
}

.ofer__btn {
  margin-bottom: 35px;
}

.ofer__about-img {
  margin-bottom: 18px;
  width: 180px;
}

.ofer__about-me {
  font-weight: bold;
  font-size: 15px;
  line-height: 140%;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  margin-bottom: 18px;
}

.offer__video-btn {
  display: flex;
  align-items: center;
  background-color: transparent;
  border: 2px solid $c-accent;
  color: $txt-c-accent;
  padding: 11px 40px;
  margin-bottom: 35px;
}

.offer__video-btn i {
  font-size: 8px;
  margin-right: 7px;
}

.offer__video-btn:hover,
.offer__video-btn:focus {
  color: $txt-c-light;
  background-color: $c-accent;
  box-shadow: 1px 1px 1px $c-light;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
}

.ofer__laptop-img {
  width: 250px;
  margin-bottom: 40px;
}
