/* PERSONAL PROJECT */
.personal-projects {
  background: $c-dark;

  &__container {
    @extend %container;

    @media screen and (min-width: $mobile) {
      padding-top: 55px;
      padding-bottom: 55px;
    }
    @media screen and (min-width: $tablet-min) {
      padding-top: 65px;
      padding-bottom: 90px;
    }
    @media screen and (min-width: $desktop) {
      padding-top: 130px;
      padding-bottom: 200px;
    }
  }
  &__title {
    @media screen and (min-width: $mobile) {
      margin-bottom: 30px;
    }
    @media screen and (min-width: $tablet-min) {
      margin-bottom: 49px;
    }
    @media screen and (min-width: $desktop) {
      margin-bottom: 54px;
    }
  }
}

.personal-project-item-container {
  padding-top: 40px;
  background: $c-dark-blue;
  border-radius: 5px 5px 0 0;
  position: relative;
}

.personal-project-name {
  font-weight: normal;
  font-size: 17px;
  line-height: 150%;
  color: $txt-c-light;
  margin: 25px 0;
  display: flex;
}

.personal-project-img {
  width: 100%;
}

.projet-item-dot-container {
  display: flex;
  position: absolute;
  top: 17px;
  left: 20px;
}

.personal-project-item {
  border-bottom: 1px solid $c-grey-blue;
  margin-bottom: 30px;
}

.personal-project-item:last-child {
  margin-bottom: 0;
}

.projet-item-dot {
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background: $c-grey-blue;
  margin-right: 7px;
}

.projet-item-dot:first-child {
  background: $c-accent;
}

.personal-project-icon {
  font-size: 18px;
  color: $c-accent;
  margin-right: 15px;
  margin-top: 3px;
}

.personal-project-btn {
  padding: 15px 30px 15px 10px;
  margin-bottom: 30px;
}
