/* TEAM PROJECTS */

.team-projects {
  background-color: $c-light;

  &__container {
    @extend %container;
    position: relative;
    overflow-x: hidden;

    @media screen and (min-width: $mobile) {
      padding-top: 30px;
      padding-bottom: 30px;
    }
    @media screen and (min-width: $tablet-min) {
      padding-top: 45px;
      padding-bottom: 60px;
    }
    @media screen and (min-width: $desktop) {
      padding-top: 80px;
      padding-bottom: 80px;
    }
  }
  &__title {
    position: relative;
    display: flex;
    font-weight: bold;
    text-transform: uppercase;
    color: $txt-c-dark;

    z-index: 10;

    @media screen and (min-width: $mobile) {
      font-size: 35px;
      line-height: 42px;
      margin-bottom: 40px;
      text-align: center;
    }
    @media screen and (min-width: $tablet-min) {
      font-size: 50px;
      line-height: 60px;
      margin-bottom: 50px;
      text-align: start;
    }
    @media screen and (min-width: $desktop) {
      font-size: 70px;
      line-height: 84px;
      margin-bottom: 55px;
      width: 550px;
    }
  }

  &__title--bgd {
    position: absolute;
    font-weight: bold;

    text-transform: uppercase;
    color: $txt-c-grey-light;

    @media screen and (min-width: $mobile) {
      font-size: 150px;
      line-height: 180px;
      top: 0%;
      left: 45px;
    }
    @media screen and (min-width: $tablet-min) {
      font-size: 200px;
      line-height: 240px;
      top: 0%;
      left: 45px;
    }
    @media screen and (min-width: $desktop) {
      font-size: 250px;
      line-height: 300px;
      top: 3%;
      left: 340px;
    }
  }

  &__name {
    font-weight: normal;
    font-size: 17px;
    line-height: 150%;
    color: $txt-c-dark;
    margin: 25px 0;
    display: flex;
  }

  &__icon {
    font-size: 18px;
    color: $c-accent;
    margin-right: 15px;
    margin-top: 3px;
  }
}

.team-project {
  &__wraper {
    @media screen and (min-width: $desktop) {
      display: flex;
      flex-wrap: wrap;
    }
  }
  &__item {
    border-bottom: 1px solid $c-grey-light;
    margin-bottom: 30px;
  }

  &__item:not(:nth-child(2n)) {
    @media screen and (min-width: $desktop) {
      margin-right: 35px;
    }
  }
}

.team-project-item {
  border-bottom: 1px solid $c-grey-light;
  margin-bottom: 30px;
}

.team-project-item:last-child {
  margin-bottom: 0;
}
